<header class="bg-gray-800 text-white shadow-md">
  <nav class="container mx-auto flex justify-between items-center p-5">
    <!-- Logo -->
    <a href="/" class="text-2xl font-bold hover:text-gray-300">
      MyApp
    </a>
    <ul class="hidden md:flex space-x-8">
      <% if (isAuthenticated) { %>
        <!-- <li>
          <a href="/" class="hover:text-gray-300">Home</a>
        </li> -->
        <li>
          <span class="hover:text-gray-300 hover:cursor-pointer">Hello! <%= user.fullname %></span>
        </li>
        <li>
          <a href=" /profile" class="hover:text-gray-300">Profile</a>
        </li>
        <li>
          <a href="/msgBoard/<%= user.id %>" class="hover:text-gray-300">Add Posts</a>
        </li>
        <li>
          <a href="/logout" class="hover:text-gray-300">Logout</a>
        </li>
        <% } else { %>
          <li>
            <a href="/login" class="hover:text-gray-300">Login</a>
          </li>
          <li>
            <a href="/" class="hover:text-gray-300">Sign Up</a>
          </li>
          <% } %>
    </ul>

    <!-- Mobile Menu Button -->
    <button id="menu-toggle" class="md:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </button>
  </nav>

  <!-- Mobile Navigation Menu -->
  <div id="mobile-menu" class="hidden md:hidden bg-gray-700">
    <ul class="flex flex-col space-y-4 p-4">
      <li>
        <a href="/" class="hover:text-gray-300">Home</a>
      </li>
      <li>
        <a href="/about" class="hover:text-gray-300">About</a>
      </li>
      <li>
        <a href="/posts" class="hover:text-gray-300">Posts</a>
      </li>
      <% if (isAuthenticated) { %>
        <li>
          <a href="/profile" class="hover:text-gray-300">Profile</a>
        </li>
        <li>
          <a href="/logout" class="hover:text-gray-300">Logout</a>
        </li>
        <% } else { %>
          <li>
            <a href="/login" class="hover:text-gray-300">Login</a>
          </li>
          <li>
            <a href="/signup" class="hover:text-gray-300">Sign Up</a>
          </li>
          <% } %>
    </ul>
  </div>
</header>

</header>